.tabContentContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.2rem;
    right: -0.2rem;
    width: 15rem;
    border: 3px solid grey;
    z-index: 30000;


    .contentItem {
        list-style: none;
        color: black;
        text-decoration: none;
        padding: .3rem .8rem;
        width: auto;
        background-color: white;
        z-index: 30000;
    }
}