.accordionContainer {
    height: auto;
    width: 100%;
    display: block;
}

.titlebar {
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 0 5%;
}

.accordionPanel {
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;
    max-height: 0;
}